
@{


    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/StyleSite.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
   
    <div class="text-center" style="width:40%; height:50%; margin:0 auto ">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {

        <h2>Hotel Case Managment</h2>


        <div class="imgcontainer">
            <img src="~/IMG/public-service-icon.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="email" placeholder="Enter Username" name="UserName" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" required>

            <button type="submit">Login</button>
            <label>
                <a href="~/Home/Index"> Register</a>
            </label>
            <label>
           <span class="psw">Forgot <a href="#">password?</a></span>
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            
        </div>

  }
    </div>
        

</body>
</html>
